<launch>
    <!-- Launch file to bring up the turtlebot, camera, and servo control-->
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch" />
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_rpicamera.launch" />
    <node pkg="mr" type="gpio_test.py" name="servo_control">
    </node>
</launch>
